# General
PUID=1000
PGID=1000
TZ="Europe/Rome"

# Directories
SERVER_ROOT=/home/${USER}/server
CONFIG_ROOT=${SERVER_ROOT}/configs

# Ports
DASH_PORT=80
HOMARR_PORT=7575

# Service specific variables
HOMARR_KEY="ReplaceWith64CharacterHexString"

# Backups
BACKUP_PATHS=(
  "/path/to/backup/excluded"
)
EXCLUDE_PATHS=(
  "--exclude=/path/to/backup/excluded"
)
LOG_PATH="/path/to/logs"
REPO_PATH="/path/to/repo"
REPO_PASSWORD="ReplaceWithSecurePassword"

