# General
PUID=1000
PGID=1000
TZ="Europe/Rome"

# Directories
SERVER_ROOT=/home/${USER}/server
CONFIG_ROOT=${SERVER_ROOT}/configs

# Ports
DASH_PORT=80
HOMARR_PORT=7575
PAPERLESS_PORT=8080

# Service specific variables
HOMARR_KEY="ReplaceWith64CharacterHexString"

PAPERLESS_DB_NAME=paperless
PAPERLESS_DB_USER=paperless
PAPERLESS_DB_PASS=paperless
PAPERLESS_DATA_VOLUME=data
PAPERLESS_MEDIA_VOLUME=media
PAPERLESS_EXPORT_VOLUME=${SERVER_ROOT}/paperless/export
PAPERLESS_CONSUME_VOLUME=${SERVER_ROOT}/paperless/consume
USERMAP_UID=${PUID}
USERMAP_GID=${PGID}
PAPERLESS_URL=https://paperless.example.com
PAPERLESS_SECRET_KEY=ReplaceWithSecureSecretKey
PAPERLESS_TIME_ZONE=${TZ}
PAPERLESS_OCR_LANGUAGE=ita
PAPERLESS_OCR_LANGUAGES=eng

