# Backups
BACKUP_PATHS=(
  "/path/to/backup/excluded"
)
EXCLUDE_PATHS=(
  "--exclude=/path/to/backup/excluded"
)
LOG_PATH="/path/to/logs"
REPO_PATHS=(
  "/path/to/repo"
)
REPO_PASSWORD="ReplaceWithSecurePassword"

NTFY_DOMAIN="ntfy.example.com"
NTFY_SUBJECT="BackupNtfySubject"
NTFY_TOKEN="NtfyUserToken"

